GOOGLE_CLIENT_ID=SECRET
GOOGLE_CLIENT_SECRET=SECRET
GOOGLE_OAUTH_TOKEN_URL=https://oauth2.googleapis.com/token
GOOGLE_OAUTH_USER_INFO_URL=https://www.googleapis.com/oauth2/v2/userinfo
GOOGLE_OAUTH_START_REDIRECT_PATH=/api/session/google

# Development
# GOOGLE_CALLBACK_URL=http://localhost:3000/api/session/google/callback
# FRONTEND_URL=http://localhost:5173

# Production
GOOGLE_CALLBACK_URL=https://localhost:8443/api/session/google/callback
FRONTEND_URL=https://localhost:8443